
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-size: 14px;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f1f4f8;
}


header {
  position: absolute;
  height: 108px;
  width: 100%;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#root{ 
  /* background: url(/Users/bwexler/Desktop/screenshots/newCode/react-three-fiber-2/src/milkyWay.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #07060b;
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      #07060bfa, 
      #07060bfa
    ),
    /* bottom, image */
    url(milkyWay.jpg) no-repeat center center fixed;;
}

.info {
  transition: all .3s linear;
}

.info-body {
  display: flex;
  flex-direction: column;
  /* transition: all .2s linear .05s; */
}

.timebar {
  height: 10px;
  width: 30%;
  border: 1px solid white;
  border-radius: 5px;
  /* background: yellow; */
}

.timebar-inner {
  width: 100%;
  height: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
}