html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #606063;
  overflow: hidden;
  font-family: "News Cycle", sans-serif;
}

#root {
  overflow: hidden;
}

canvas {
  position: absolute;
}

@keyframes opacity {
  0%   {opacity: .99}
  90%  {opacity: 1}
  100% {opacity:.99}
}

